body {

	margin:0;
	height:auto;
	overflow-x:hidden;	
	
}

.playlist {
	
	background: url('images/unusualback.jpg');
	background-attachment:fixed;
	
}

backgroundimgfull img {

	width:100%;
	background-size:50%;
	position:fixed;	
	opacity:.9;

}

	backgroundimgfullm { visibility:hidden; Height:0;}
	backgroundimgfullm img
 {

	visibility:hidden;
	height:0;
	
}


header{
		margin:0px;
		color:#f7f7f7;
		float:top;
		position:fixed;
		z-index:1000;
		width:100%;
		background: rgba(0,0,0,.7);
		background:none;
		
		-moz-transition: all .7s ease-in;
      -o-transition: all .7s ease-in;
      -webkit-transition: all .7s ease-in;
      transition: all .7s ease-in;

}

.headerfade {

	background: rgba(0,0,0,.7);
	border-bottom: rgba(0,0,0,.9);
	
	-moz-transition: all .7s ease-in;
      -o-transition: all .7s ease-in;
      -webkit-transition: all .7s ease-in;
      transition: all .7s ease-in;

}

header ul {

		margin-left:52vw;
		padding-left:7.4em;
		padding-top:.5em;
		padding-bottom:.5em;
		z-index:1000;
		float:top;
		width:100%;

}

header ul projecttab li a{

	margin-left:-58vw;

}

header ul li {
		
		display: inline-block;
		color:#f7f7f7;
		font-size: .9em;
		font-family:tahoma;
		padding-left:1.5em;
		

}

header ul li a{
		
		list-style-type:none;
		text-decoration:none;	
		font-size:1em;
		color:#d6d6d6;
		font-weight:bold;
		padding-top:9px;
		padding-bottom:9px;
		padding-right:8px;
		padding-left:8px;
		border:.1em solid #d5d5d5;
		
		transition: all .3s ease-in;

}

header ul li a:hover{

		color: white;
		border:.1em solid white;
		background: rgba(0,0,0,.2);
		
		transition: all .3s ease-in;

}



header2 {

	position:fixed;
	z-index:2000;
	text-decoration:none;
	float:right;
	margin-left:96%;
	margin-top:19%;

}

header2 img {

	width:2.1em;
	height:2.1em;

}

header2 share a{

	font-size:1.2em;
	font-weight:bold;
	font-family:tahoma;
	text-decoration:none;
	list-style:none;

}

header3 {

	position:fixed;
	z-index:2000;
	text-decoration:none;
	float:right;
	margin-left:96%;
	margin-top:23%;

}

header3 img {

	width:2.2em;
	height:2.2em;

}

header3 share a{

	font-size:1.2em;
	font-weight:bold;
	font-family:tahoma;
	text-decoration:none;
	list-style:none;

}

.contactbar {

	position:fixed;
	margin-left:0em;
	margin-top:5%;
	background: rgba(0,0,0,.8);
	padding:1em 1em 1em .2em;
	z-index:1000;
	border: 1px solid rgba(0,0,0,.6);
	border-top-right-radius:  10%;
	border-bottom-right-radius:  10%;


}

.contactbar ul li{

	list-style-type:none;
	margin-left:-1em;
	padding:.1em;

}

.contactbar ul li a{

	list-style-type:none;
	text-decoration:none;
	color: rgba(200,200,200,.5);
	padding:.1em;
	
		transition: all .2s ease-in;
}

.contactbar ul li a:hover{

	list-style-type:none;
	text-decoration:none;
	color: purple;
	
			transition: all .2s ease-in;


}

.contactbar headerleft {

	font-size:1em;
	font-family:sans-serif;
	
}

.contactbar lefttitle {

	font-size:1em;
	font-weight:bold;
	margin-left:-1em;
	color: rgba(200,200,200,.8);


}

passfirst {

	position:absolute;
	margin-top:15em;

}

#aboutme {

		-background: rgba(10,10,10,.8);
		position:absolute;
		width:100%;
		height:auto;
		z-index:200;
		margin-top:43.5%;

}

#moreinfo {

		color:white;
		height:15em;
		margin-left:44.5%;
		font-family:sans-serif;
		

}

#moreinfo a:link {

	text-decoration:none;

}

#moreinfo a breakertext{

		font-size: 2em;
		border: .06em solid white;
		color:white;
		padding:5px;
		opacity:1;
		
}

#moreinfo .breakertext2{

		font-size: 2em;
		position:absolute;
		text-align:center;
		margin-left:-4em;
		margin-top:-12em;
		font-size:2.8em;
		padding:5px;
		opacity:1;
		
}

#moreinfo .breakertext2 img {

	width:11em;
	height:11em;

}

.breakertextfade {

	-opacity:0;
	

}


buyit a{

	color:#9CDA38;
	text-decoration:none;
	font-size:1.2em;
	

}

.introtext {

	margin-top:-10vh;
	margin-left:-10vw;
	width:35em;
	font-size:1.1em;
	font-weight:bold;
	position:absolute;
	z-index:12;

}

.introtext a {

text-decoration:none;
	color:#8f3384;
	display:inline;
	font-size:.9em;
}

.introtext nav a {

	text-decoration:none;
	color:#8f3384;
	display:inline;
	font-size:.9em;

}


.introslide {

	opacity:1;
	margin-bottom:0;
	-moz-transition: all .7s ease-in;
      -o-transition: all .7s ease-in;
      -webkit-transition: all .7s ease-in;
      transition: all .7s ease-in;

}


.whytable {

	background: black;

}


.whyback {

	background: url('images/hand2.jpg');
	background-size:100%;
	margin-left:-22em;
	background-repeat:no-repeat;
	border-top:2px solid #8f3384;
	height:47em;
	z-index:10;
	overflow:hidden;

}

.anameaboutme {

	position:absolute;
	margin-top:-4.3em;

}

.whytable table.why {

	width:100%;
	font-family:sans-serif;
	padding-left:2em;
	border-spacing:2em;
	color:white;
	
}


.whytable table.why tr{
	
	background:none;

}


.whytable table.why td{

	width:30%;
	height:10%;
	text-align:center;
	font-size:.95em;
	background:none;
	
	-padding-top:7em;
	padding-bottom:3em;
	padding-left:1em;
	border:none;

}


whytitles {

	font-size:1.3em;
	font-weight:bold;

}


.bottomtab {

	text-align:center;
	width:100%;
	padding:0 0 3em 0;
	position:absolute;
	margin-top:-1em;
	

}

.bottomtab a {

	text-decoration:none;

}

.bottomtab tabtext {

	color:#e5e5e5;
	font-size: 2em;
	border: .07em solid #e5e5e5;
	padding:5px;
	
	-moz-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      -webkit-transition: all .3s ease-in;
      transition: all .3s ease-in;

}

.bottomtab tabtext:hover {

	color:white;
	font-size: 2em;
	border: .07em solid white;
	padding:5px;
	
	-moz-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      -webkit-transition: all .3s ease-in;
      transition: all .3s ease-in;

}

.bottomtab2 {

	text-align:center;
	width:100%;
	padding:1em 0 3em 0;
	

}

.bottomtab2 a {

	text-decoration:none;

}

.bottomtab2 tabtext2 {

	color: white;
	font-size: 2em;
	border: .07em solid white;
	padding:5px;

}


trippics {

	-opacity:0;
	
	-moz-transition: all .4s ease-in;
      -o-transition: all .4s ease-in;
      -webkit-transition: all .4s ease-in;
      transition: all .4s ease-in;
	

}

triptext {

	-opacity:0;
	margin-left:-4vw;
	margin-bottom:-5vh;
	
	-moz-transition: all .5s ease-in;
      -o-transition: all .5s ease-in;
      -webkit-transition: all .5s ease-in;
      transition: all .5s ease-in;

}

.appear {

	opacity:1;
	
	-moz-transition: all .4s ease-in;
      -o-transition: all .4s ease-in;
      -webkit-transition: all .4s ease-in;
      transition: all .4s ease-in;

}

.appear2 {

	opacity:1;
	margin-left:0;
	margin-bottom:0;
	
	-moz-transition: all .5s ease-in;
      -o-transition: all .5s ease-in;
      -webkit-transition: all .5s ease-in;
      transition: all .5s ease-in;

}


.anameextras {

    float:right;
    margin-top:-4.5%;


}
#extrasSection {

    width:100%;
    position:relative;
    color:white;
    text-align:center;
	z-index:10;

}

.extrasContent {

	color:#222;
	list-style-type:none;
	text-decoration:none;
	z-index:10;
	background: rgba(255,255,255,.95);

}

.extrasContent table.ex {

	background: url('images/schedule.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	height:56em;
    width:100%;
	opacity:1;
	z-index:10;

}


#logosection {

	background-image: url('images/markstokes.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
	height:50em;
	overflow:hidden;
	

}


#logosection .logosecback {

	background-image: url('images/profpicback.jpg');
    background-position: center;
	background-repeat:no-repeat;
	z-index:15;
	height:75em;
	margin-top:-83em;	
	overflow:hidden;
	
}

#logosection .stableimg {

	padding-top:5em;
	margin-left:20%;
	height:45em;
	width:60%;
	z-index:20;
	text-align:center;
	margin-top:5em;
	position:absolute;

}

#logosection .stableimg img{

	height:45em;
	width:45em;
	z-index:20;

}


.eyebackground {
	
	height:60em;
	margin-top:-10em;
	background-image: url('images/profpic.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	background-position:fixed;

}

.eyesection {

	width:100%;
	text-align:center;
	z-index:5;
	padding-bottom:7em;
	padding-top:4em;

}


.eyesection .eyecont{

	width:40%;
	margin-left:30%;
	height:6em;
	background-image: url('images/live1.jpg');
	background-attachment:fixed;
	background-size:53%;
	background-position:center;
	background-repeat:no-repeat;
	z-index:5;
	/border-bottom: 3px solid white;
	overflow:hidden;


}

.eyesection .eyecont2{

	width:40%;
	margin-left:30%;
	height:6em;
	background-image: url('images/live1.jpg');
	background-attachment:fixed;
	background-size:53%;
	background-position:center;
	background-repeat:no-repeat;
	z-index:5;
	/border-bottom: 3px solid white;
	overflow:hidden;


}

.eyesection .eye1{

	width:40%;
	margin-left:30%;
	height:6em;
	background-image: url('images/live1.jpg');
	background-attachment:fixed;
	background-size:53%;
	background-position:center;
	background-repeat:no-repeat;
	z-index:5;
	/border-bottom: 3px solid white;
	overflow:hidden;
	border-radius:3%;


}

eyetext {

	font-family:jura;
	font-size:2.2em;
	z-index:2;
	color:white;

}

tiny {
	font-size:.5em;
	color: rgba(255,255,255,.7);
	font-style:italic;
}
subb {
	font-size:.8em;
}

.mobile {
	visibility:hidden;
	height:0;
}

#footerwork {

	position:absolute;
	float:bottom;
	display:bottom;
	background: rgba(255,255,255,.95);
		background-attachment:fixed;
	width:100%;
	height:34em;
	z-index:10;

}

#footerwork .performancelocations {

	position:absolute;
	padding:3em;
	padding-left:4.5em;

}

#footerwork .performancelocations locationtitle{
	font-size:1.7em;
	margin-left:-.2em;
	border-bottom: 2px solid #e7e7e7;
	padding-bottom:.5em;
	color:#666;
}

#footerwork .performancelocations ul{


}

#footerwork .performancelocations ul li{

	list-style-type:none;
	padding:.2em;

}

#footerwork .performancelocations ul li a{

	text-decoration:none;
	font-size:1.1em;
	padding:.2em;
	color:#999;
	font-family:sans-serif;
	
    transition: all .2s ease-in;

}

#footerwork .performancelocations ul li a:hover{

	color:#DC143C;
		
    transition: all .2s ease-in;

}


.footerimage{

	

}

.footerimage img {

	margin-top:1em;
	margin-left:-45em;
	margin-right:15em;
	float:right;
	width:25em;
	height:23em;

}



#footerwork .socialmedia {
	
	float:right;
	margin-right:4.5em;
	margin-top:23.5em;
	

}

#footerwork .socialmedia locationtitle{
	font-size:1.7em;
	margin-left:-.2em;
	border-bottom: 2px solid #e7e7e7;
	padding-bottom:.5em;
	color:#666;
}

#footerwork .socialmedia ul{



}

#footerwork .socialmedia ul li{

	list-style-type:none;
	padding:.2em;
	display:inline-block;

}

#footerwork .socialmedia ul li a{

	text-decoration:none;
	font-size:1.1em;
	padding:.2em;
	color:#999;
	font-family:sans-serif;
	
    transition: all .2s ease-in;

}

#footerwork .socialmedia ul li a:hover{

	color:#DC143C;
		
    transition: all .2s ease-in;

}



#footerwork .navfooter {
		
		font-size:.8em;
		position:absolute;
		margin-top:32em;
		margin-left:8.5vw;
		padding-right:6em;
		float:bottom;
		-font-weight:bold;
		color:#555;
		font-family:sans-serif;
		border-right:2px solid #e1e1e1;
		z-index:10;

}

#footerwork .navfooter a {

	text-decoration:none;

}

#footerwork .navfooter nav {

	display:inline;

}

#footerwork .navfooter nav a{

	text-decoration:none;
	color:#DC143C;
	display:inline;

}

.footerproducttext {

	float:right;
	margin-top:29.5em;
	margin-right:10em;
	font-size:.9em;
	font-weight:bold;
	font-family:tahoma;
	color:#555;

}

.footerproducttext a {

	text-decoration:none;
	color:#DC143C;

}








@media only screen and (max-device-width: 480px) {


body {
	overflow-x:hidden;

}
	
	backgroundimgfull img
 {

	visibility:hidden;
	height:0;
	
}

	backgroundimgfullm { visibility:visible; height:auto; }
	backgroundimgfullm img
 {

	visibility:visible;
	
	width:100%; height:auto;
	background-size:50%;
	position:fixed;	
	opacity:.9;
	
}


header{
		margin:0px;
		color:#f7f7f7;
		float:top;
		position:fixed;
		z-index:1000;
		width:100%;
		
		-moz-transition: all .7s ease-in;
      -o-transition: all .7s ease-in;
      -webkit-transition: all .7s ease-in;
      transition: all .7s ease-in;

}

.headerfade {

	background: rgba(0,0,0,.5);
	border-bottom: rgba(0,0,0,.9);
	
	-moz-transition: all .7s ease-in;
      -o-transition: all .7s ease-in;
      -webkit-transition: all .7s ease-in;
      transition: all .7s ease-in;

}

header ul {

		margin-left:5em;
		padding-left:1em;
		padding-top:.5em;
		padding-bottom:.5em;
		z-index:1000;
		float:top;
		width:100%;
		

}

header ul projecttab li a{

	margin-left:-1em;

}

header ul li a:hover{

		color: white;

}

header ul li {
		
		display: inline-block;
		color:#f7f7f7;
		font-size: .9em;
		font-family:tahoma;
		padding-left:1.5em;

}

header ul li a{
		
		list-style-type:none;
		text-decoration:none;	
		font-size:2.8em;
		color:#f7f7f7;
		font-weight:bold;
		padding-top:3px;
		padding-bottom:3px;
		padding-right:6px;
		padding-left:6px;
		border:.05em solid #f6f6f6;
		
		
		-moz-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		-webkit-transition: all .3s ease-in;
		transition: all .3s ease-in;

}



header2 {

	position:fixed;
	z-index:2000;
	text-decoration:none;
	float:right;
	margin-left:91%;
	margin-top:8em;

}

header2 img {

	width:4.1em;
	height:4.1em;

}

header2 share a{

	font-size:1.2em;
	font-weight:bold;
	font-family:tahoma;
	text-decoration:none;
	list-style:none;

}

header3 {

	position:fixed;
	z-index:2000;
	text-decoration:none;
	float:right;
	margin-left:91%;
	margin-top:15em;

}

header3 img {

	width:4.2em;
	height:4.2em;

}

header3 share a{

	font-size:1.2em;
	font-weight:bold;
	font-family:tahoma;
	text-decoration:none;
	list-style:none;

}


.contactbar {

	position:;
	margin-left:0em;
	margin-top:5%;
	background: rgba(0,0,0,.8);
	padding:1em 1em 1em .2em;
	z-index:1000;
	border: 1px solid rgba(0,0,0,.6);
	border-top-right-radius:  10%;
	border-bottom-right-radius:  10%;
	visibility:hidden;


}

.contactbar ul li{

	list-style-type:none;
	margin-left:-1em;
	padding:.1em;

}

.contactbar ul li a{

	list-style-type:none;
	text-decoration:none;
	color: rgba(200,200,200,.5);
	padding:.1em;
	
		transition: all .2s ease-in;
}

.contactbar ul li a:hover{

	list-style-type:none;
	text-decoration:none;
	color: purple;
	
			transition: all .2s ease-in;


}

.contactbar headerleft {

	font-size:1em;
	font-family:sans-serif;
	
}

.contactbar lefttitle {

	font-size:1em;
	font-weight:bold;
	margin-left:-1em;
	color: rgba(200,200,200,.8);


}







#aboutme {

		position:absolute;
		width:100%;
		height:auto;
		z-index:200;
		margin-top:145%;
		overflow-x:hidden;
}

#moreinfo {

		color:white;
		height:28em;
		margin-left:42%;
		font-family:sans-serif;
		
		-moz-transition: all 1.7s ease-in;
      -o-transition: all 1.7s ease-in;
      -webkit-transition: all 1.7s ease-in;
      transition: all 1.7s ease-in;

}

#moreinfo breakertext{

		font-size: 7em;
		border: .1em solid white;
		padding:15px;
		
}

#moreinfo .breakertext2{

		position:absolute;
		text-align:center;
		margin-left:-4.5em;
		margin-top:-14em;
		font-size:5em;
		padding:5px;
		opacity:1;
		
}


.breakertextfade {

	opacity:0;
	
	-moz-transition: all 1.7s ease-in;
      -o-transition: all 1.7s ease-in;
      -webkit-transition: all 1.7s ease-in;
      transition: all 1.7s ease-in;

}


buyit a{

	color:#9CDA38;
	text-decoration:none;
	font-size:1.2em;
	

}

introtext {

	opacity:0;
	margin-bottom:-16vh;
	font-size:3em;

}


passfirst {

	margin-top:6em;
	position:absolute;

}


.whytable {

	background: black;

}

.whyback {

	background: url('images/prof2mobile.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
	height:75em;
	width:120%;
	margin-left:-20em;
	border-top:2px solid #8f3384;
	overflow-x:hidden;
	z-index:10;

}

.anameaboutme {

	position:absolute;
	margin-top:-4.3em;

}

.whytable table.why {

	width:100%;
	font-family:sans-serif;
	border-spacing:2em;
	margin-left:-46vw;
	margin-top:10vh;
	color:white;
	font-size:1.5em;
	overflow-x:hidden;
	
}


.whytable table.why tr{
	
	background:none;

}


.whytable table.why td{

	width:30%;
	height:10%;
	text-align:center;
	font-size:.95em;
	background:none;
	
	-padding-top:7em;
	padding-bottom:3em;

	border:none;

}


whytitles {

	font-size:1.3em;
	font-weight:bold;

}




.eyebackground {
	
	height:65em;
	background-image: url('images/profpic.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	background-position:fixed;

}

.eyesection {

	width:100%;
	text-align:center;
	z-index:5;
	padding-bottom:15em;
	padding-top:6em

}

.eyesection .eyecont {

	width:97%;
	margin-left:1.5%;
	height:30em;
	background-image: url('images/mobilesec1.jpg');
	background-attachment:fixed;
	background-size:90%;
	background-repeat:no-repeat;
	z-index:5;
	overflow:hidden;


}

.eyesection .eyecont2 {

	width:97%;
	margin-left:1.5%;
	height:30em;
	background-image: url('images/mobilesec2.jpg');
	background-attachment:fixed;
	background-size:90%;
	background-repeat:no-repeat;
	margin-top:-4em;
	z-index:5;
	overflow:hidden;


}

.eyesection .eye1 {
	visibility:hidden;
	height:0;
}

.mobile {
	visibility:visible;
	height:auto;	
}

eyetext {

	font-family:sans-serif;
	font-size:4em;
	z-index:2;
	color:white;

}

tiny {
	font-size:.5em;
	color: rgba(255,255,255,.7);
	font-style:italic;
}
subb {
	font-size:.8em;
}









.anameextras {

    float:right;
    margin-top:-4.5%;


}

#extrasSection {

    width:100%;
    position:relative;
    color:white;
    text-align:center;
	z-index:10;

}

.extrasContent {

	color:#222;
	list-style-type:none;
	text-decoration:none;
	z-index:10;
	background: rgba(255,255,255,.95);

}

.extrasContent table.ex {

	background: url('images/schedulemobile.jpg');
	background-size:100%;
	background-repeat:no-repeat;
    width:100%;
	height:75em;
	opacity:1;
	z-index:10;

}

pass3 {

	margin-top:10em;
	position:absolute;

}


footer{

	margin-top:auto;
	float:bottom;
	display:bottom;
	position:absolute;
	background: rgba(250,250,250,.95);
	width:100%;
	height:12em;

}

footer navfooter2 {
		
		font-size:.8em;
		position:absolute;
		margin-top:5em;
		margin-left:7vw;
		padding-right:6em;
		display:bottom;
		float:bottom;
		-font-weight:bold;
		color:#111;
		border-right:2px solid #e1e1e1;

}

.footerproducttext {

	float:right;
	margin-right:12vw;
	margin-top:5.5em;
	font-size:.9em;
	font-weight:bold;
	font-family:tahoma;

}


.footerimage img {

	visibility:hidden;

}


#footerwork .socialmedia {
	
	float:right;
	margin-right:-15em;
	margin-top:23.5em;

}
